@charset "utf-8";
/* CSS Document */

.marketplace__browse {
  padding: 15px; }
  @media screen and (min-width: 48em) {
    .marketplace__browse {
      padding: 40px; } }

.marketplace__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -ms-flex-align: start;
      align-items: flex-start; }
  @media screen and (max-width: 61.9375em) {
    .marketplace__content {
		    margin-bottom: 100px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.marketplace__aside {
  width: 100%; }
  @media screen and (max-width: 61.9375em) {
    .marketplace__aside {
      width: 100%;/*50%*/ } }
  @media screen and (min-width: 62em) {
    .marketplace__aside {
      /*-ms-flex: 0 0 280px;
          flex: 0 0 280px;
      max-width: 280px;
      padding-right: 20px;*/ }
      .rtl .marketplace__aside {
        padding-left: 20px;
        padding-right: 0; } }
  @media screen and (min-width: 75em) {
    .marketplace__aside {
      /*-ms-flex: 0 0 25%;
          flex: 0 0 25%;*/ } }
  @media screen and (min-width: 87.5em) {
    .marketplace__aside {
      /*-ms-flex: 0 0 320px;
          flex: 0 0 320px;
      max-width: 320px;
      padding-right: 40px;*/ }
      .rtl .marketplace__aside {
        padding-left: 40px;
        padding-right: 0; } }

.marketplace__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0; }
  .marketplace__title .mdi {
    display: none; }
  @media screen and (max-width: 61.9375em) {
    .marketplace__title {
      cursor: pointer;
      position: relative;
      padding: 15px 0 18px 20px; }
      .rtl .marketplace__title {
        padding: 15px 20px 18px 0; }
      .marketplace__title .mdi {
        display: inline-block;
        right: calc(50% + 12px);
        margin-top: 2px;
        color: #8f8f90;
        position: absolute; }
        .filters__container--collapsed .marketplace__title .mdi {
          right: 10px; }
        .rtl .marketplace__title .mdi {
          left: calc(50% + 12px);
          right: auto; }
        .rtl .filters__container--collapsed .marketplace__title .mdi {
          left: 10px; } }
  @media screen and (max-width: 47.9375em) {
    .marketplace__title {
      font-size: 16px; } }

@media screen and (max-width: 61.9375em) {
  .marketplace__sorting {
    margin-left: -2px;
    width: calc(50% + 2px);
    border: 2px #dbdbdb solid;
    border-radius: 0 4px 4px 0; }
    .rtl .marketplace__sorting {
      margin-left: 0;
      margin-right: -2px;
      border-radius: 4px 0 0 4px; } }

@media screen and (max-width: 31.25em) {
  .marketplace__sorting .Select-placeholder,
  .marketplace__sorting .Select-value {
    display: none; } }

.marketplace__grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  clear: both;
  margin: 0 -10px; }
  @media screen and (max-width: 61.9375em) {
    .marketplace__grid {
      width: 100%; } }
  @media screen and (min-width: 62em) {
    .marketplace__grid {
      margin-top: 44px; }
      .marketplace__grid .loader {
        padding-right: 320px; }
        .rtl .marketplace__grid .loader {
          padding-right: 0;
          padding-left: 320px; } }
  .marketplace__grid .loader {
    width: 100%; }
  .marketplace__grid--notitle {
    margin-top: 0; }
    @media screen and (min-width: 48em) {
      .marketplace__grid--notitle {
        margin-top: 20px; } }
    @media screen and (min-width: 62em) {
      .marketplace__grid--notitle {
        margin-top: 44px; } }
  .marketplace__grid > .text-loader {
    margin: 100px 0;
    width: 100%; }
    @media screen and (min-width: 48em) {
      .marketplace__grid > .text-loader {
        margin: 50px 0; } }

.marketplace__all-data-loaded {
  width: 100%;
  text-align: center;
  margin: 100px 0;
  color: #909090;
  font-size: 1.5rem; }
  @media screen and (min-width: 48em) {
    .marketplace__all-data-loaded {
      margin: 50px 0; } }

.marketplace__column {
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  margin-top: 20px;
  -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
  @media screen and (min-width: 48em) {
    .marketplace__column {
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; } }
  @media screen and (min-width: 75em) {
    .marketplace__column {
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
      max-width: 33.333333%; } }
  @media screen and (min-width: 103.75em) {
    .marketplace__column {
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
      max-width: 25%; } }
  @media screen and (min-width: 123.75em) {
    .marketplace__column {
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
      max-width: 320px; } }

.marketplace__sensor {
  width: 100%; }

.marketplace__search {
  clear: both;
  position: relative; }
  @media screen and (min-width: 62em) {
    .marketplace__search .search {
      left: 250px;
      width: 382px;
      margin-top: -4px;
      position: absolute; }
      .rtl .marketplace__search .search {
        left: auto;
        right: 250px; } }
  @media screen and (min-width: 75em) {
    .marketplace__search .search {
      left: 290px;
      width: 500px; }
      .rtl .marketplace__search .search {
        left: auto;
        right: 290px; } }
  @media screen and (max-width: 61.9375em) {
    .marketplace__search {
      width: 100%;
      margin-top: 20px; }
      .marketplace__search .search .form__input {
        border-width: 2px;
        border-color: #dbdbdb; } }








/*============================================================================================*/









.filters {
  margin-top: 20px;
  border-radius: 4px;
  border: 1px #dbdbdb solid;
  word-break: break-all;
	background: #fafafa;}
  @media screen and (max-width: 61.9375em) {
    .filters {
      border: none;
      display: -ms-flexbox;
      display: flex;
      margin-top: 0;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
      padding: 0 20px; }
      .filters__container {
        position: relative;
        border-radius: 4px 0 0 4px;
        border: 2px #dbdbdb solid;
        width: 200%;
        float: left; }
        .rtl .filters__container {
          float: right;
          border-radius: 0 4px 4px 0; }
        .filters__container--collapsed {
          width: 100%; }
          .filters__container--collapsed .filters {
            display: none; }
        .filters__container--loading .marketplace__title i {
          display: none; }
        .filters__container .loader {
          top: 20px;
          right: 22px;
          margin: 0;
          position: absolute; }
          .rtl .filters__container .loader {
            right: auto;
            left: 22px; } }
  @media screen and (min-width: 62em) {
    .filters__container .marketplace__title {
      padding-bottom: 20px; } }
  @media screen and (max-width: 61.9375em) {
    .filters__section--vertical {
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; } }
  @media screen and (max-width: 47.9375em) {
    .filters__section--vertical {
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; } }
  .filters__section--vertical .filters__section-content {
    overflow: hidden;
    /*padding: 12px 20px 30px;*/
    padding: 12px 5px 30px; }
    .rtl .filters__section--vertical .filters__section-content {
      text-align: right; }
  @media screen and (min-width: 62em) {
    .filters__section--vertical + .filters__section {
      border-top: 1px #dbdbdb solid; }
    .filters__section--vertical.filters__section--hidden .filters__label .mdi::before {
      content: '\F140'; }
    .filters__section--vertical.filters__section--hidden .filters__section-content {
      display: none; } }
  .filters__label {
    color: #5a5a5a;
    font-size: 16px;
    position: relative;
    margin-bottom: 0;
    padding: 20px 0; }
    .filters__label--horizontal .mdi {
      display: none; }
    @media screen and (min-width: 62em) {
      .filters__label {
        /*padding: 20px;*/
		  padding: 20px 5px;
        cursor: pointer; }
        .filters__label .mdi {
          right: 20px;
          color: #8f8f90;
          position: absolute; }
          .rtl .filters__label .mdi {
            left: 20px;
            right: auto; }
          .filters__label .mdi::before {
            content: '\F143'; } }
  .filters__footer {
    padding: 30px; }
    @media screen and (max-width: 61.9375em) {
      .filters__footer {
        width: 100%;
        padding: 30px 0 20px; } }
  .filters__button {
    width: 100%;
    height: 40px;
    color: #5a5a5a;
    display: block;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background: #e9e9e9;
    text-transform: uppercase; }
    .filters__button--active {
      background: #8dc63f;
      color: white; }
  .filters .form__checkbox {
    font-size: 0.875rem;
    line-height: 20px;
    display: block;
    padding: 3px 0 3px 34px;
    word-break: normal; }
    .rtl .filters .form__checkbox {
      /*padding: 3px 34px 3px 0;*/ 
		padding: 3px 5px;
	}
    .filters .form__checkbox i {
      text-align: left; }
  .filters .form__checkbox--heading {
    font-weight: 500;
    font-size: 0.95rem; }
  .filters .form__checkbox-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center; }
  .filters .form__checkbox-collapse {
    justify-self: flex-end;
    margin-left: auto;
    color: #8f8f90; }
  .filters .form__checkbox-collapse--collapsed .form__checkbox-collapse-icon:before {
    content: '\F143'; }
  .filters .form__checkbox-collapse-icon {
    font-size: 20px;
    vertical-align: middle; }
    .filters .form__checkbox-collapse-icon:before {
      content: "\F140"; }
  .filters .filters__section-content--date-range {
    padding-right: 20px; }
    .filters .filters__section-content--date-range .filters__section-content__label {
      font-size: 14px;
      font-weight: 300;
      display: block;
      margin: 0 0 10px 0; }
    .filters .filters__section-content--date-range .form__field-after {
      border: #f0f0f0 solid;
      border-width: 0 0 0 3px; }
      .rtl .filters .filters__section-content--date-range .form__field-after {
        border-width: 0 3px 0 0; }
    .filters .filters__section-content--date-range input {
      background-color: #fff; }
  .filters .filters__section-content--value-range {
    padding-top: 20px; }
    .filters .filters__section-content--value-range .input-range {
      font-weight: 300; }
    .filters .filters__section-content--value-range .input-range__label--value {
      top: -34px; }
  .filters.filters--horizontal {
    margin: 0 auto 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    border: none; }
    .filters.filters--horizontal .filters__section {
      margin-bottom: 20px; }
    .filters.filters--horizontal .filters__section-content--value-range {
      padding: 20px 10px; }
    @media screen and (max-width: 61.9375em) {
      .filters.filters--horizontal {
        padding: 0; } }
  .filters .filters__label.filters__label--horizontal {
    font-size: 16px;
    padding: 0 0 10px; }
  .filters .filters__clear-button {
    text-align: right;
    margin-bottom: 20px; }
    .filters .filters__clear-button .handler {
      padding: 4px 10px 6px; }
    .rtl .filters .filters__clear-button {
      text-align: left; }

.filters__container--horizontal .filters__form {
  display: none; }

.filters__container--horizontal.filters__container--collapsed {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 20px; }
  .filters__container--horizontal.filters__container--collapsed .filters__form {
    display: block; }

@media screen and (max-width: 61.9375em) {
  .filters__container--horizontal {
    position: inherit;
    border-radius: inherit;
    border: none;
    width: 100%;
    float: left; } }

.filters__collapse-button {
  background-color: #e2e2e2;
  text-align: center;
  color: #8c8c8c;
  border-radius: 5px;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 10px 10px 12px;
  text-transform: uppercase;
  font-size: 14px;
  width: 100%; }








.show__sbar {
	display: block !important;
}



.filters__section-content > div {line-height: 2;}

