 <!-- BEGIN CONTENT -->
 <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">


        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title"> المشاريع والخدمات
            <small></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="../dashboard/index.html">الرئيسية</a>
                    <i class="fa fa-angle-left"></i>
                </li>
                <li>
                   <a href="#">عنوان القسم</a>
                    <i class="fa fa-angle-left"></i>
                </li>
                <li class="active">
                    <span>عنوان الصفحة</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="row clearfix">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-layers font-dark"></i>
                            <span class="caption-subject bold uppercase">إضافة خدمة</span>
                        </div>

       <button type="button" class="btn green pull-right"><i class="icon-check"></i> إستلام الخدمة </button>
                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body">


      <form (submit)="click($event)" [formGroup]="form" *ngIf="add" >
     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>اسم الخدمة <span>*</span></label>
        <div class="input-icon">
          <i class="fa fa-file font-green "></i>
          <input type="text" class="form-control" placeholder="اسم الخدمة" id="nom" formControlName="nom">
        </div>
        <div class="alert alert-warning" *ngIf="!form.controls['nom'].valid && form.controls['nom'].touched " >
          يجب عليك وضع إسم الخدمة
         </div>
      </div>
       </div>


     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>التكلفة الاجمالية </label>
        <div class="input-icon">
          <i class="fa fa-money font-green "></i>
          <input type="number" class="form-control" placeholder="" id="solde" >
        </div>
      </div>
       </div>
     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group" >
       <mat-form-field class="col-md-6">
        <input  matInput [matDatepicker]="picker1" id="dated" class="new" placeholder="تاريخ الدفعة" >
        <mat-datepicker-toggle matSuffix [for]="picker1">
        </mat-datepicker-toggle>
        <mat-datepicker #picker1>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <input  matInput [matDatepicker]="picker2" id="datef" class="new" placeholder="تاريخ الدفعة"  >
        <mat-datepicker-toggle matSuffix [for]="picker2">
        </mat-datepicker-toggle>
        <mat-datepicker #picker2>
        </mat-datepicker>
      </mat-form-field>
      </div>
      </div>


     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>التفاصيل</label>
        <textarea class="form-control" rows="5" id="desc" ></textarea>
      </div>
       </div>



       <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>مرفق</label>
        <div class="col-md-12">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="input-group input-large">
            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
              <i class="fa fa-file fileinput-exists"></i>&nbsp;
              <span class="fileinput-filename"> </span>
            </div>
            <span class="input-group-addon btn default btn-file">
              <span class="fileinput-new"> إختر المرفق </span>
              <span class="fileinput-exists"> تغيير </span>
              <input type="file" name="..."> </span>
            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> حذف </a>
          </div>
        </div>
        </div>
      </div>
       </div>

     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>ملاحظات</label>
        <textarea class="form-control" id="req" rows="5" ></textarea>
      </div>
       </div>



     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <hr>
       </div>



     <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">

       <button type="submit" class="btn green pull-right margin-right-10" [disabled]="!form.valid" >إضافة/تعديل</button>

       </div>

                       <div class="clearfix"></div>
                      </form>
                      <div *ngIf=" ! add" class="alert alert-danger" style="text-align: center" >  ليست لديك صلاحيات لإضافة الخدمة </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>

        </div>
        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->




    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
