<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">

     <button type="button" class="btn blue-hoki pull-right">إضافة مصروف</button>

      <!-- BEGIN PAGE HEADER-->
      <h3 class="page-title"> المصروفات
          <small></small>
      </h3>
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <i class="icon-home"></i>
                  <a href="../dashboard/index.html">الرئيسية</a>
                  <i class="fa fa-angle-left"></i>
              </li>
              <li>
                 <a href="#">عنوان القسم</a>
                  <i class="fa fa-angle-left"></i>
              </li>
              <li class="active">
                  <span>عنوان الصفحة</span>
              </li>
          </ul>
      </div>
      <!-- END PAGE HEADER-->
      <!-- BEGIN DASHBOARD STATS 1-->
      <div class="row clearfix">
          <div class="col-md-12">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet light ">
                  <div class="portlet-title">
                      <div class="caption font-dark">
                          <i class="icon-layers font-dark"></i>
                          <span class="caption-subject bold uppercase">كل المصروفات</span>
                      </div>

                      <div class="tools"> </div>
                  </div>
                  <div class="portlet-body">


   <div class="col-md-3">

  <div class="marketplace__content">
  <div class="marketplace__aside">
  <div class="filters__container filters__container--vertical filters__container--collapsed">
  <form class="filters__form nomargin">
  <h3 class="marketplace__title no-margin">
  أدوات التصفية<i class="mdi mdi-chevron-down mdi-24px"></i>
  </h3>
  <div class="filters filters--vertical">
  <div class="filters__section filters__section--category filters__section--vertical">

  <div class="filters__label filters__label--vertical">
  <input id="checkbox-0" class="checkbox-style" name="checkbox-0" type="checkbox" checked>
  <label for="checkbox-0" class="checkbox-style-3-label">
   إختر الكل
  </label>
  </div>

  <div class="filters__section-content">

  <div>
    <input id="checkbox-1" class="checkbox-style" name="checkbox-1" type="checkbox" checked>
    <label for="checkbox-1" class="checkbox-style-3-label">
     الكل
    </label>
  </div>

  <div>
    <input id="checkbox-2" class="checkbox-style" name="checkbox-2" type="checkbox">
    <label for="checkbox-2" class="checkbox-style-3-label">
     مصاريف المشاريع
    </label>
  </div>

  <div>
    <input id="checkbox-3" class="checkbox-style" name="checkbox-3" type="checkbox">
    <label for="checkbox-3" class="checkbox-style-3-label">
     مصاريف المدفوعات
    </label>
  </div>

  <div>
    <input id="checkbox-4" class="checkbox-style" name="checkbox-4" type="checkbox">
    <label for="checkbox-4" class="checkbox-style-3-label">
     مصاريف الخدمات
    </label>
  </div>

  <div>
    <input id="checkbox-5" class="checkbox-style" name="checkbox-5" type="checkbox">
    <label for="checkbox-5" class="checkbox-style-3-label">
     المصاريف التشغيلية
    </label>
  </div>

  <div>
    <input id="checkbox-6" class="checkbox-style" name="checkbox-6" type="checkbox">
    <label for="checkbox-6" class="checkbox-style-3-label">
     مكافئات
    </label>
    </div>

  <div>
    <input id="checkbox-7" class="checkbox-style" name="checkbox-7" type="checkbox">
    <label for="checkbox-7" class="checkbox-style-3-label">
     عمولات
    </label>
  </div>

  <div>
    <input id="checkbox-8" class="checkbox-style" name="checkbox-8" type="checkbox">
    <label for="checkbox-8" class="checkbox-style-3-label">
     حوافز
    </label>
  </div>

  <div class="col-md-12">
    <hr>
  </div>

  <div>
    <input id="checkbox-20" class="checkbox-style" name="checkbox-20" type="checkbox">
    <label for="checkbox-20" class="checkbox-style-3-label">
     اخر اسبوع
    </label>
  </div>

  <div>
    <input id="checkbox-30" class="checkbox-style" name="checkbox-30" type="checkbox">
    <label for="checkbox-30" class="checkbox-style-3-label">
     اخر شهر
    </label>
  </div>

  <div>
    <input id="checkbox-40" class="checkbox-style" name="checkbox-40" type="checkbox">
    <label for="checkbox-40" class="checkbox-style-3-label">
     اخر سنة
    </label>
  </div>


  <div class="col-md-12">
    <hr>
  </div>

  <div>
    <input id="checkbox-10" class="checkbox-style" name="checkbox-10" type="checkbox">
    <label for="checkbox-10" class="checkbox-style-3-label">
     فترة محددة
    </label>
    <div class="col-md-12">
      <input type="text" class="form-control date" name="from" placeholder="من تاريخ">
    </div>
    <hr>
    <div class="col-md-12">
      <input type="text" class="form-control date" name="to" placeholder="إلى تاريخ">
    </div>
  </div>


  <div class="col-md-12">
    <hr>
  </div>

  <div>
    <input id="checkbox-11" class="checkbox-style" name="checkbox-11" type="checkbox">
    <label for="checkbox-11" class="checkbox-style-3-label">
     جميع مصاريف مشروع
    </label>
    <div class="col-md-12">
      <select id="single" class="form-control select2 " multiple>
                              <option></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
                          </select>
    </div>
  </div>


  <div class="col-md-12">
    <hr>
  </div>

  <div>
    <input id="checkbox-12" class="checkbox-style" name="checkbox-12" type="checkbox">
    <label for="checkbox-12" class="checkbox-style-3-label">
     جميع مصاريف عميل
    </label>
    <div class="col-md-12">
      <select id="single0" class="form-control select2 " multiple>
                              <option></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
                          </select>
    </div>
  </div>


  <div class="clearfix"></div>

  <div class="text-center margin-top-30">
    <button type="button" class="btn green">عـرض</button>
  </div>

  </div>
  </div>

  </div></form></div></div>
  </div>

    </div>


  <div class="line visible-xs-block"></div>


   <div class="col-md-9 clearfix">

  <table class="table table-striped table-bordered table-hover dt-responsive grd_view expenses-tbl" width="100%" id="sample_1">
    <thead>
      <tr>
        <th class="desktop">م</th>
        <th class="all no-padding"></th>
        <th class="min-phone-l">اسم المشروع</th>
        <th class="desktop">النوع</th>
        <th class="min-phone-l">رقم المصروف</th>
        <th class="min-tablet">المبلغ</th>
        <th class="none">العميل</th>
        <th class="desktop">التفاصيل</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let expense of expenses ; let i = index" style="width: 100px !important;" >

        <td> {{i + 1}} </td>
        <td class="p-relative">
          <div class="por-indicator bg-red"></div>
        </td>
        <td> {{tab[i]}} </td>
        <td>{{etat[i]}}</td>
        <td>{{expense.id}}</td>
        <td>{{expense.solde}}</td>
        <td>{{amil[i]}}</td>
        <td class="text-center">
          <div class="btn-group">
            <a class="btn green-haze btn-outline btn-sm" href="javascript:;" data-toggle="dropdown"  data-close-others="true"> إخـتر الأمـر
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li *ngIf="permi.poste" ><a href="#show" class="font-purple" data-toggle="modal" (click)="affiche(expense.id)" ><i class="icon-eye font-purple"></i> عـرض</a></li>
              <li *ngIf="permi.edit"><a href="#edit" class="font-blue" data-toggle="modal" (click)="edit(expense)" ><i class="icon-note font-blue"></i> تعديل</a></li>
              <li *ngIf="permi.deletes"><a href="#basic" class="font-red" data-toggle="modal" (click)="deletById(expense.id)" ><i class="icon-trash font-red"></i> حـذف</a></li>
              <li *ngIf="permi.up1"><a href="#show" class="font-green" data-toggle="modal" (click)="downloadPDF(expense.id)" ><i class="icon-cloud-download font-green"></i> تحميل</a></li>
            </ul>
          </div>
        </td>
        </tr>

    </tbody>
  </table>
   </div>

   <div class="clearfix"></div>

                  </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
          </div>

      </div>
      <div class="clearfix"></div>
      <!-- END DASHBOARD STATS 1-->




  </div>
  <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->



<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content del-modal font-white">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body text-center">
      <h3>
        <i class="fa fa-3x fa-trash"></i>
      </h3>
       متأكد إنك تريد الحذف؟

      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark btn-default" data-dismiss="modal">إغلاق</button>
        <button type="button" class="btn btn-danger" (click)="delete()" >حـذف</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- affichage  -->
<div class="modal fade" id="show" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content del-modal font-white">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body text-center" *ngIf=" open ">
        <h3>
          <i class="fa fa-3x fa-eye"></i>
        </h3>
        <div class="left">
            اسم المصروف : <br> <hr>
            النوع : <br> <hr>
            التفاصيل : <br> <hr>
            اسم المشروع/ الخدمة : <br>  <hr>
            صاحب المصروف : <br> <hr>
            الحساب المحول منه : <br> <hr>
            طريقة التحويل : <br> <hr>
            الميلغ : <br> <hr>
            نسبة : <br> <hr>
            إجمالى المبلغ مع النسبة : <br> <hr>
            التاريخ : <br> <hr>
            ملاحظات : <br> <hr>
        </div>
          <div class="right" >
            {{ masroufa.nom }} <br> <hr>
        {{typeM.nom}} <br> <hr>
         {{masroufa.dsecription}} <br> <hr>
         {{psM.nom}} <br> <hr>
         {{employeeM.nom}} <br> <hr>
         {{bankM.nom}} <br> <hr>
          {{transfertM.nom}} <br> <hr>
        {{masroufa.solde}} <br> <hr>
         {{percentageM.nom}} <br> <hr>
         {{masroufa.total}} <br> <hr>
         {{masroufa.date}} <br> <hr>
         {{masroufa.req}} <br> <hr>
        </div>

        </div>
        <div class="modal-footer">

        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>


<!-- modification  -->
<div class="modal fade" id="edit" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content del-modal font-white">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body text-center" *ngIf=" open ">
        <h3>
          <i class="fa fa-3x icon-note"></i>
        </h3>

        <form (submit)="add($event)"  *ngIf=" modif " >



            <div class="col-md-6 col-md-offset-3 col-sm-12">
             <div class="form-group">
               <label for="single0">اسم المصروف <span>*</span></label>
               <input type="text" id="nom" value="{{typex.nom}}" class="form-control" placeholder="">
             </div>
              </div>

            <div class="col-md-6 col-md-offset-3 col-sm-12">
             <div class="form-group">
               <label for="single1">النوع <span>*</span></label>
               <select id="single1" class="form-control select2 select-hide">
                                       <option>-- إختر --</option>
                 <option value={{expense.id}} [selected]="expense.id == typex.id"  *ngFor="let expense of expenses2" > {{ expense.nom }} </option>

                                   </select>
             </div>
              </div>

            <div class="col-md-6 col-md-offset-3 col-sm-12">
             <div class="form-group">
               <label>التفاصيل</label>
               <textarea class="form-control" value="{{typex.dsecription}}" id="desc" rows="5"></textarea>
             </div>
              </div>

            <div class="col-md-6 col-md-offset-3 col-sm-12">
             <div class="form-group">
               <label for="single0">اسم المشروع/ الخدمة <span>*</span></label>
               <select id="single0" class="form-control" >
                                       <option>-- إختر --</option>
                 <option value="{{project.id}}1" [selected]="project.id == typex.idps && typex.ps == 1"  *ngFor="let project of projects" >المشروع /  {{project.nom}}  </option>
                 <option value="{{service.id}}2" [selected]="service.id == typex.idps && typex.ps == 2"  *ngFor="let service of services" >الخدمة / {{service.nom}} </option>

                                   </select>
             </div>
              </div>

            <div class="col-md-6 col-md-offset-3 col-sm-12">
              <div class="form-group">
                <div class="input-group">
               <label for="single2">صاحب المصروف <span>*</span></label>
               <select id="single2" class="form-control " (change)="Compte($event)">
                                       <option></option>
                 <option value={{employee.id}} [selected]="patch.idem ==  employee.id "  *ngFor="let employee of employees" > {{employee.nom}} </option>

                                   </select>
                                   <span class="input-group-btn btn-addon">
                                     <button type="button" class="btn green" data-toggle="modal" data-target="#exampleModal"   >عرض البيانات</button>
                                   </span>
                                   </div>
             </div>
              </div>

            <div class="col-md-6 col-md-offset-3 col-sm-12">
             <div class="form-group">
               <label for="single33">الحساب المحول منه <span>*</span></label>
               <select id="single33" class="form-control"  >
                                       <option>-- إختر --</option>
                 <option value={{compte.id}} [selected]="patch.idb ==  compte.id "  *ngFor="let compte of comptes" > {{compte.nom}} : {{ compte.num }} </option>

                                   </select>
             </div>
              </div>


            <div class="col-md-6 col-md-offset-3 col-sm-12">
             <div class="form-group">
               <label for="single3">طريقة التحويل <span>*</span></label>
               <select id="single3" class="form-control select2 select-hide">
                                       <option>-- إختر --</option>
                 <option value={{payment.id}} [selected]="patch.idt ==  payment.id " *ngFor="let payment of payments"> {{payment.nom}}</option>

                                   </select>
             </div>
              </div>

            <div class="col-md-6 col-md-offset-3 col-sm-12">
             <div class="form-group">
               <label for="single11">الميلغ <span>*</span></label>
               <input type="number" id="single11" value="{{ patch.solde }}" class="form-control" (change)="solde1($event)" >

             </div>
              </div>

            <div class="col-md-6 col-md-offset-3 col-sm-12">
             <div class="form-group">
               <label for="single10">إضافة نسبة <span>*</span></label>
               <select id="single10" class="form-control" (change)="solde($event)"  >
                                       <option disabled >-- إختر --</option>
                 <option value={{persentage.id}}   [selected]="patch.idp ==  persentage.id " *ngFor="let persentage of persentages"  > {{persentage.nom}} </option>

                                   </select>
             </div>
              </div>

            <div class="col-md-6 col-md-offset-3 col-sm-12">
             <div class="form-group">
               <label>إجمالى المبلغ مع النسبة <span>*</span></label>
               <div class="input-icon">
                 <i class="fa fa-money font-green "></i>
                 <input type="text" class="form-control"  id="total" placeholder="" value={{total}} disabled>
               </div>
             </div>
              </div>



             <div class="col-md-6 col-md-offset-3 col-sm-12">
             <div class="form-group">
               <label for="single">التاريخ <span>*</span></label>
               <br>
               <mat-form-field class="date">
                 <input matInput [matDatepicker]="picker" id="date" placeholder="تاريخ المصروف" [formControl]="date" >
                 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                 <mat-datepicker #picker></mat-datepicker>
               </mat-form-field>


             </div>
              </div>



             <div class="col-md-6 col-md-offset-3 col-sm-12">
             <div class="form-group">
               <label>مرفق</label>
               <div class="col-md-12">
               <div class="fileinput fileinput-new" data-provides="fileinput">
                 <div class="input-group input-large">
                   <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                     <i class="fa fa-file fileinput-exists"></i>&nbsp;
                     <span class="fileinput-filename"> </span>
                   </div>
                   <span class="input-group-addon btn default btn-file">
                     <span class="fileinput-new"> إختر المرفق </span>
                     <span class="fileinput-exists"> تغيير </span>
                     <input type="file" name="..."> </span>
                   <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> حذف </a>
                 </div>
               </div>
               </div>
             </div>
              </div>


            <div class="col-md-6 col-md-offset-3 col-sm-12">
             <div class="form-group">
               <label>ملاحظات</label>
               <textarea class="form-control" value="{{ patch.req }}" id="req" rows="5"></textarea>
             </div>
              </div>



            <div class="col-md-6 col-md-offset-3 col-sm-12">
             <hr>
              </div>




            <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">

              <button type="submit" class="btn btn-lg green pull-right margin-right-10">إضافة/تعديل</button>

              </div>

                              <div class="clearfix"></div>
                             </form>

        </div>
        <div class="modal-footer">

        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
