.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.fr{
  width: 200px;
  height: 300px;
  text-align: center;
  left: 40%;
  top: 40%;
  position: absolute;
  background: #dadada ;

}
