   <!-- BEGIN SIDEBAR -->
   <div class="page-sidebar-wrapper">
    <!-- END SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"><!-- page-sidebar-menu-hover-submenu-->
            <li class="nav-item start active">

                <a routerLink="/board" routerLinkActive="active"  class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">الرئيسية</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-layers"></i>
                    <span class="title">المشاريع والخدمات</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">

                        <a routerLink="/allps" routerLinkActive="active"  class="nav-link ">
                            <span class="title">كل المشاريع والخدمات</span>
                        </a>
                    </li>
                    <li class="nav-item  ">

                        <a routerLink="/addproject" routerLinkActive="active" class="nav-link ">
                            <span class="title">إضافة مشروع</span>
                        </a>
                    </li>
                    <li class="nav-item  ">

                        <a routerLink="/addservice" routerLinkActive="active" class="nav-link ">
                            <span class="title">إضافة خدمة</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-wallet"></i>
                    <span class="title">المدفوعات</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">

                        <a routerLink="/allpayments" class="nav-link ">
                            <span class="title">كل المدفوعات</span>
                        </a>
                    </li>
                    <li class="nav-item  ">

                        <a routerLink="/addpayment" class="nav-link ">
                            <span class="title">إضافة دفعة</span>
                        </a>
                    </li>
                </ul>

            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-wallet"></i>
                    <span class="title">المصروفات</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">

                        <a routerLink="/allexpenses" routerLinkActive="active"  class="nav-link ">
                            <span class="title">كل المصروفات</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a routerLink="/addexpense" routerLinkActive="active"  class="nav-link ">
                            <span class="title">إضافة مصروف</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a routerLink="/settings" routerLinkActive="active" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">الإعدادات</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-users"></i>
                    <span class="title">المستخدمين</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item  ">

                        <a routerLink="/allusers" routerLinkActive="active" class="nav-link ">
                            <span class="title">كل المستخدمين</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a routerLink="/addclient" routerLinkActive="active" class="nav-link ">
                            <span class="title">إضافة عميل</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a routerLink="/addemployee" routerLinkActive="active" class="nav-link ">
                            <span class="title">إضافة مقدم خدمة</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a routerLink="/adduser" routerLinkActive="active" class="nav-link ">
                            <span class="title">إضافة مستخدم</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
