<head>
  <title> {{title}}</title>

</head>
 <app-header></app-header>
  <div class="clearfix"> </div>
  <div class="page-container">
    <app-menu></app-menu>
    <router-outlet></router-outlet>
  </div>
<app-footer></app-footer>
