<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">


        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title"> المشاريع والخدمات
            <small></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="../dashboard/index.html">الرئيسية</a>
                    <i class="fa fa-angle-left"></i>
                </li>
                <li>
                   <a href="#">عنوان القسم</a>
                    <i class="fa fa-angle-left"></i>
                </li>
                <li class="active">
                    <span>عنوان الصفحة</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="row clearfix">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-layers font-dark"></i>
                            <span class="caption-subject bold uppercase">إضافة مشروع</span>
                        </div>

       <button type="button" class="btn green pull-right"><i class="icon-check"></i> إستلام المشروع </button>
                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body">


<form (submit)="submit($event)" [formGroup]="form" *ngIf="add" >
     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>اسم المشروع <span>*</span></label>
        <div class="input-icon">
          <i class="fa fa-file font-green "></i>
          <input type="text" class="form-control" id="nom" formControlName="nom"  placeholder="اسم المشروع">
        </div>
        <div class="alert alert-warning" *ngIf="!form.controls['nom'].valid && form.controls['nom'].touched " >
            يجب عليك وضع إسم المشروع
           </div>
      </div>
       </div>

       <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>التاريخ <span>*</span></label>
        <div class="input-group date-picker input-daterange" data-date="24/02/2018" data-date-format="dd/mm/yyyy">
          <input required type="text" class="form-control date col-md-6"  id="dated" name="from" placeholder="من تاريخ" (keyup)="test($event)">
          <span class="input-group-addon small-sp">  </span>
          <input required type="text" class="form-control date col-md-6"  id="datef" name="to" placeholder="إلى تاريخ" (keyup)="test1($event)">
        </div>

      </div>
       </div>

     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>التفاصيل</label>
        <textarea class="form-control" id="desc" rows="5"></textarea>
      </div>
       </div>

       <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label for="single">العميل <span>*</span></label>
        <select id="single" class="form-control" formControlName="client">
                                <option></option>
          <option value="{{client.id}}" *ngFor="let client of clients " > {{client.nom}} </option>
                            </select>
                            <div class="alert alert-warning" *ngIf="!form.controls['client'].valid && form.controls['client'].touched " >
                                يجب عليك وضع  العميل
                               </div>
      </div>
       </div>

     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>تكلفة المشروع <span>*</span></label>
        <div class="input-icon">
          <i class="fa fa-money font-green "></i>
          <input type="number" id="cost" class="form-control" placeholder=""  formControlName="cost">
        </div>
        <div class="alert alert-warning" *ngIf="!form.controls['cost'].valid && form.controls['cost'].touched " >
            يجب عليك وضع  تكلفة المشروع
           </div>
      </div>
       </div>





       <div class="col-md-6 col-md-offset-3 col-sm-12">
                      <fieldset>
                        <legend>
                          الدفعات
                        </legend>

      <div class="form-group">
        <div class="col-md-12">
        <label for="payment-num">عدد الدفعات <span>*</span></label>
        <select id="payment-num" class="form-control" formControlName="npayment" (change)="click($event)" >
                                <option [ngValue]="null" disabled selected="selected">-- إختر --</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
                            </select>
                            </div>
       <div class="alert alert-warning" *ngIf="!form.controls['npayment'].valid && form.controls['npayment'].touched " >
            يجب عليك وضع  التاريخ
           </div>

      </div>

                       <div id="payment-container" >
        <label [ngStyle]="{'display': go }">تواريخ الدفعات <span>*</span></label>


        <ol id="payment-list"  >
          <li [ngStyle]="{'display': go }" >
            <div class="form-inline">
            <div class="form-group">
              <label class="sr-only"> </label>
              <div class="input-icon">
              <i class="fa fa-money font-green"></i>
              <input type="number" id="cost1" class="form-control w-100" placeholder="القيمة"  > </div>
            </div>
            <div class="form-group">
              <label class="sr-only">تاريخ الدفعة</label>
              <mat-form-field>
                  <input matInput [matDatepicker]="picker1" id="dcost1" class="new" placeholder="تاريخ الدفعة" [matDatepickerFilter]="myFilter" [formControl]="date" >
                  <mat-datepicker-toggle matSuffix [for]="picker1">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker1>
                  </mat-datepicker>
                </mat-form-field>
            </div>
            </div>
            <hr>
          </li>
          <li [ngStyle]="{'display': go2 }">
            <div class="form-inline">
            <div class="form-group">
              <label class="sr-only"> </label>
              <div class="input-icon">
              <i class="fa fa-money font-green"></i>
              <input type="number" id="cost2" class="form-control w-100" placeholder="القيمة" > </div>
            </div>
            <div class="form-group">
              <label class="sr-only">تاريخ الدفعة</label>
              <mat-form-field>
                  <input matInput [matDatepicker]="picker2" id="dcost2" class="new" placeholder="تاريخ الدفعة" [matDatepickerFilter]="myFilter" [value]="date.value" [formControl]="date1" >
                  <mat-datepicker-toggle matSuffix [for]="picker2">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2>
                  </mat-datepicker>
                </mat-form-field>
            </div>
            </div>
            <hr>
          </li>
          <li [ngStyle]="{'display': go3 }">
            <div class="form-inline">
            <div class="form-group">
              <label class="sr-only"> </label>
              <div class="input-icon">
              <i class="fa fa-money font-green"></i>
              <input type="number" class="form-control w-100" id="cost3" placeholder="القيمة" > </div>
            </div>
            <div class="form-group">
              <label class="sr-only">تاريخ الدفعة</label>
              <mat-form-field>
                  <input matInput [matDatepicker]="picker3" id="dcost3" class="new" placeholder="تاريخ الدفعة" [matDatepickerFilter]="myFilter" [value]="date1.value" [formControl]="date2" >
                  <mat-datepicker-toggle matSuffix [for]="picker3">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker3>
                  </mat-datepicker>
                </mat-form-field>
            </div>
            </div>
            <hr>
          </li>
          <li [ngStyle]="{'display': go4 }">
            <div class="form-inline">
            <div class="form-group">
              <label class="sr-only"> </label>
              <div class="input-icon">
              <i class="fa fa-money font-green"></i>
              <input type="number" id="cost4" class="form-control w-100" placeholder="القيمة"  > </div>
            </div>
            <div class="form-group">
              <label class="sr-only">تاريخ الدفعة</label>
              <mat-form-field>
                <input matInput [matDatepicker]="picker4" id="dcost4" class="new" placeholder="تاريخ الدفعة" [matDatepickerFilter]="myFilter" [value]="date2.value" >
                <mat-datepicker-toggle matSuffix [for]="picker4">
                </mat-datepicker-toggle>
                <mat-datepicker #picker4>
                </mat-datepicker>
              </mat-form-field>
            </div>
            </div>
            <hr>
          </li>
        </ol>


      </div>

                      </fieldset>
       </div>


       <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>مرفق</label>
        <div class="col-md-12">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="input-group input-large">
            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
              <i class="fa fa-file fileinput-exists"></i>&nbsp;
              <span class="fileinput-filename"> </span>
            </div>
            <span class="input-group-addon btn default btn-file">
              <span class="fileinput-new"> إختر المرفق </span>
              <span class="fileinput-exists"> تغيير </span>
              <input type="file" name="..."> </span>
            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> حذف </a>
          </div>
        </div>
        </div>
      </div>
       </div>

     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>ملاحظات</label>
        <textarea class="form-control" id="req" rows="5"></textarea>
      </div>
       </div>



     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <hr>
       </div>



     <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">

       <button type="submit" class="btn green pull-right margin-right-10" [disabled]="!form.valid">إضافة/تعديل</button>

       </div>

                       <div class="clearfix"></div>
      </form>
      <div *ngIf=" ! add " class="alert alert-danger " style="text-align: center" >  ليست لديك صلاحيات لإضافة مشروع </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>

        </div>
        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->




    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

