
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">


                    <!-- BEGIN PAGE HEADER-->
                    <h3 class="page-title"> المستخدمين
                        <small></small>
                    </h3>
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="../dashboard/index.html">الرئيسية</a>
                                <i class="fa fa-angle-left"></i>
                            </li>
                            <li>
                               <a href="#">عنوان القسم</a>
                                <i class="fa fa-angle-left"></i>
                            </li>
                            <li class="active">
                                <span>عنوان الصفحة</span>
                            </li>
                        </ul>
                    </div>
                    <!-- END PAGE HEADER-->
                    <!-- BEGIN DASHBOARD STATS 1-->
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-layers font-dark"></i>
                                        <span class="caption-subject bold uppercase">إضافة مقدم خدمة</span>
                                    </div>

                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">


                  <form (submit)="onClickMe($event)" *ngIf=" add " >
  								 <div class="col-md-6 col-md-offset-3 col-sm-12">
									<div class="form-group">
										<label for="single0">الاسم <span>*</span></label>
										<input type="text" class="form-control" id="nom" placeholder="">
									</div>
                   </div>
                   <div class="col-md-6 col-md-offset-3 col-sm-12">
                      <div class="form-group">
                        <label for="single0"> الجوال <span>*</span></label>
                        <input type="tel" id="tel" class="form-control" placeholder="">
                      </div>
                       </div>
                       <div class="col-md-6 col-md-offset-3 col-sm-12">
                          <div class="form-group">
                            <label for="single0"> الإیمیل <span>*</span></label>
                            <input type="email" id="email" class="form-control" placeholder="">
                          </div>
                           </div>

								 <div class="col-md-6 col-md-offset-3 col-sm-12">
									<div class="form-group">
										<label for="single1">مهامة <span>*</span></label>
										<select id="single1" class="form-control ">
                                            <option>-- إختر --</option>
											<option value={{tache.id}} *ngFor="let tache of taches ">{{tache.nom}}</option>

                                        </select>
									</div>
							     </div>

								 <div class="col-md-6 col-md-offset-3 col-sm-12">
									<div class="form-group">
										<label>نبذة</label>
										<textarea class="form-control" id="desc" rows="5"></textarea>
									</div>
							     </div>


								 <div class="col-md-6 col-md-offset-3 col-sm-12">
									<div class="form-group">
										<label for="transfer-type">طريقة التحويل <span>*</span></label>
										<select id="transfer-type" id="transfert" class="form-control" (change)="methode($event)">
                      <option value="0">-- إختر --</option>
											<option value="1">باى بال</option>
											<option value="2">بـنـك</option>
											<option value="3">أخــرى</option>
                                        </select>
									</div>
							     </div>



									<div class="col-md-6 col-md-offset-3 col-sm-12">
									<div class="form-group">
										<label>مرفق</label>
										<div class="col-md-12">
										<div class="fileinput fileinput-new" data-provides="fileinput">
											<div class="input-group input-large">
												<div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
													<i class="fa fa-file fileinput-exists"></i>&nbsp;
													<span class="fileinput-filename"> </span>
												</div>
												<span class="input-group-addon btn default btn-file">
													<span class="fileinput-new"> إختر المرفق </span>
													<span class="fileinput-exists"> تغيير </span>
													<input type="file" name="..."> </span>
												<a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> حذف </a>
											</div>
										</div>
										</div>
									</div>
							     </div>






								 <div class="col-md-6 col-md-offset-3 col-sm-12">
									<fieldset id="paypal" [ngStyle]="{'display': go }" >
                                	<legend class="font-purple">باى بال </legend>

                  <form (submit)="addPaypal($event)">
									<div class="form-group">
										<label>الايميل <span>*</span></label>
										<div class="input-icon">
											<i class="fa fa-envelope font-green "></i>
											<input type="text" id="emailt" class="form-control" placeholder="">
										</div>
									</div>




                              			<div class="col-md-12">
                              			<div class="form-group text-center">

										<button type="submit"   class="btn green margin-right-10"  >إضافة</button>

										</div>
                    </div>
                  </form>



                              			<div class="col-md-12">
                                       <div class="form-group">
											<div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> الايميل </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr  *ngFor="let paypal of paypalt   | slice:1 ;  let i=index">
                                                    <td> {{i}} </td>
                                                    <td> {{paypal.mail}} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
										</div>

										</div>

                                	</fieldset>
							     </div>




								<div class="col-md-6 col-md-offset-3 col-sm-12">
									<fieldset [ngStyle]="{'display': go2 }">
                                	<legend class="font-purple">بـنـك</legend>

									<div class="form-group">
										<label>اسم البنك </label>
										<div class="input-icon">
											<i class="fa fa-bank font-green "></i>
											<input type="text" id="bank" class="form-control" placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label>رقم الحساب </label>
										<div class="input-icon">
											<i class="fa fa-barcode font-green "></i>
											<input type="text" id="num" class="form-control" placeholder="">
										</div>
									</div>




                              			<div class="col-md-12">
                              			<div class="form-group text-center">

										<button type="button" class="btn green margin-right-10">إضافة</button>

										</div>
										</div>


                              			<div class="col-md-12">
                                       <div class="form-group">
											<div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> اسم البنك </th>
                                                    <th> رقم الحساب </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let  employee of employees ;  index as i ">
                                                    <td> {{i}} </td>
                                                    <td> {{employee.bank}}  </td>
                                                    <td> {{employee.num}}  </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
										</div>

										</div>


                                	</fieldset>
							     </div>




								<div class="col-md-6 col-md-offset-3 col-sm-12">
									<fieldset id="other"  [ngStyle]="{'display': go3 }">
                                	<legend class="font-purple">أخــرى</legend>

									<div class="form-group">
										<label>طريقة التحويل </label>
										<div class="input-icon">
											<i class="fa fa-random font-green "></i>
											<input type="text" id="autre" class="form-control" placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label>الرقم </label>
										<div class="input-icon">
											<i class="fa fa-barcode font-green "></i>
											<input type="text" id="num2" class="form-control" placeholder="">
										</div>
									</div>




                              			<div class="col-md-12">
                              			<div class="form-group text-center">

										<button type="button" class="btn green margin-right-10">إضافة</button>

										</div>
										</div>


                              			<div class="col-md-12">
                                       <div class="form-group">
											<div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th> # </th>
                                                    <th> طريقة التحويل </th>
                                                    <th> رقم الحساب </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let  employee of employees ;  index as i ">
                                                    <td> {{i}} </td>
                                                    <td> {{employee.autre}} </td>
                                                    <td> {{employee.num2}}  </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
										</div>

										</div>



                                	</fieldset>
							     </div>











								 <div class="col-md-6 col-md-offset-3 col-sm-12">
									<hr>
							     </div>




								 <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">

                   <button type="submit" class="btn btn-lg green pull-right margin-right-10">إضافة/تعديل</button>

							     </div>

                                   <div class="clearfix"></div>
                                  </form>
                                  <div *ngIf="! add " class="alert alert-danger" style="text-align: center" > ليست لديك صلاحيات لإضافة مقدم خدمة  </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <!-- END DASHBOARD STATS 1-->




                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
