<!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">


                    <!-- BEGIN PAGE HEADER-->
                    <h3 class="page-title"> المستخدمين
                        <small></small>
                    </h3>
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="../dashboard/index.html">الرئيسية</a>
                                <i class="fa fa-angle-left"></i>
                            </li>
                            <li>
                               <a href="#">عنوان القسم</a>
                                <i class="fa fa-angle-left"></i>
                            </li>
                            <li class="active">
                                <span>عنوان الصفحة</span>
                            </li>
                        </ul>
                    </div>
                    <!-- END PAGE HEADER-->
                    <!-- BEGIN DASHBOARD STATS 1-->
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light ">
                              <form (submit)="onClickMe($event)" [formGroup]="form" *ngIf=" addU" >
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-layers font-dark"></i>
                                        <span class="caption-subject bold uppercase">إضافة مستخدم</span>
                                    </div>

                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">



								 <div class="col-md-6 col-md-offset-3 col-sm-12">
									<div class="form-group">
										<label for="single0">اسم المستخدم <span>*</span></label>
                    <input type="text" class="form-control"  placeholder=""  formControlName="nom"   id="username" >
                    <div class="alert alert-warning" *ngIf="!form.controls['nom'].valid && form.controls['nom'].touched " >
                      يجب عليك وضع إسم المستخدم
                     </div>
                  </div>
                   </div>


								 <div class="col-md-6 col-md-offset-3 col-sm-12">
									<div class="form-group">
										<label for="single0">الايميل <span>*</span></label>
										<input type="email" class="form-control"  placeholder="" name="email" ngModel [email]="true"  formControlName="email"  id="email">
                    </div>
                    <div class="alert alert-warning" *ngIf="!form.controls['email'].valid && form.controls['email'].touched " >
                      يجب عليك وضع الايميل
                     </div>

							     </div>

								 <div class="col-md-6 col-md-offset-3 col-sm-12">
									<div class="form-group">
										<label for="single0">رقم الجوال <span>*</span></label>
                    <input type="tel" class="form-control"  placeholder=""  pattern="[0-9]+" formControlName="tel"   id="tel">
                    <div class="alert alert-warning" *ngIf="!form.controls['tel'].valid && form.controls['tel'].touched " >
                      يجب عليك وضع رقم الجوال
                     </div>

                  </div>

							     </div>

								 <div class="col-md-6 col-md-offset-3 col-sm-12">
									<div class="form-group">
										<label for="single0">كلمة المرور <span>*</span></label>
										<input type="password" class="form-control" placeholder="" minlength="4"  formControlName="password"  required id="password">
                    <div class="alert alert-warning" *ngIf="!form.controls['password'].valid && form.controls['password'].touched " >
                      يجب عليك وضع رقم الجوال
                     </div>
                  </div>
                  </div>

								 <div class="col-md-6 col-md-offset-3 col-sm-12">
									<div class="form-group">
										<label>نبذة</label>
										<textarea class="form-control" rows="5" id="description"></textarea>
									</div>
							     </div>

								 <!--<div class="col-md-6 col-md-offset-3 col-sm-12">
									<div class="form-group">
										<label for="single3">طريقة الدفع <span>*</span></label>
										<select id="single3" class="form-control select2 ">
                                            <option></option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
                                        </select>
									</div>
							     </div>-->








								<div class="col-md-10 col-md-offset-1 col-sm-12">
									<fieldset>
                                	<legend class="font-purple">الصلاحية</legend>



									<div class="form-group">
										<label class="font-purple"><h4>المشاريع</h4></label>
										<div class="input-group">
										<div class="icheck-inline">
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="projet1"> إضافة </label><!--checked-->
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="projet2"> تعديل </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="projet3"> حذف </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="projet4"> عرض </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="projet5"> تحميل </label>
										</div>
										</div>
									</div>
									<hr>
									<div class="form-group">
										<label class="font-purple"><h4>الخدمات</h4></label>
										<div class="input-group">
										<div class="icheck-inline">
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="service1"> إضافة </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="service2"> تعديل </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="service3"> حذف </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="service4"> عرض </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="service5"> تحميل </label>
										</div>
										</div>
									</div>
									<hr>
									<div class="form-group">
										<label class="font-purple"><h4>المدفوعات</h4></label>
										<div class="input-group">
										<div class="icheck-inline">
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="payments1"> إضافة </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="payments2"> تعديل </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="payments3"> حذف </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="payments4"> عرض </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="payments5"> تحميل سند صرف </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="payments6"> تحميل سند قبض </label>
										</div>
										</div>
									</div>
									<hr>
									<div class="form-group">
										<label class="font-purple"><h4>المصروفات</h4></label>
										<div class="input-group">
										<div class="icheck-inline">
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="expenses1"> إضافة </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="expenses2"> تعديل </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="expenses3"> حذف </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="expenses4"> عرض </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="expenses5"> تحميل سند صرف </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="expenses6"> تحميل سند قبض </label>
										</div>
										</div>
									</div>
									<hr>
									<div class="form-group">
										<label class="font-purple"><h4>الاعدادات</h4></label>
										<div class="input-group">
										<div class="icheck-inline">
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="setting1"> إضافة فى عام </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="setting2"> تعديل فى عام </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="setting3"> إضافة فى حسابات الشركة </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="setting4"> تعديل فى حسابات الشركة </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="setting5"> عمل تحويل بين الحسابات </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="setting6"> إضافة نسبة </label>
										</div>
										</div>
									</div>
									<hr>
									<div class="form-group">
										<label class="font-purple"><h4>المستخدمين</h4></label>
										<div class="input-group">
										<div class="icheck-inline">
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="users1"> إضافة مستخدم </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="users2"> إضافة عميل </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="users3"> إضافة مقدم خدمة </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="users4"> تعديل مستخدم </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="users5"> تعديل عميل </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="users6"> تعديل مقدم خدمة </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="users7"> حذف مستخدم </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="users8"> حذف عميل </label>
											<label><input type="checkbox" class="icheck" data-checkbox="icheckbox_square-purple" id="users9"> حذف مقدم خدمة </label>
										</div>
										</div>
									</div>
										<hr>




                                	</fieldset>
							     </div>









									<div class="col-md-6 col-md-offset-3 col-sm-12">
									<div class="form-group">
										<label>صـورة</label>
										<div class="col-md-12">
										<div class="fileinput fileinput-new" data-provides="fileinput">
											<div class="input-group input-large">
												<div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
													<i class="fa fa-file fileinput-exists"></i>&nbsp;
													<span class="fileinput-filename"> </span>
												</div>
												<span class="input-group-addon btn default btn-file">
													<span class="fileinput-new"> إختر المرفق </span>
													<span class="fileinput-exists"> تغيير </span>
                          <input type="file" name="..." id="image"  ng2FileSelect [uploader]="uploader"  >

                        </span>
												<a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> حذف </a>
											</div>
										</div>
										</div>
									</div>
							     </div>

								 <div class="col-md-6 col-md-offset-3 col-sm-12">
									<hr>
							     </div>




								 <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">

                  <button type="submit" class="btn btn-lg green pull-right margin-right-10" [disabled]="!form.valid" (click)="uploader.uploadAll()" >إضافة/تعديل</button>
                </div>
                                   <div class="clearfix"></div>
                </div>
                </form>
                <div *ngIf=" ! addU" class="alert alert-danger " style="text-align: center" > ليست لديك صلاحيات لإضافة مستخدم  </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <!-- END DASHBOARD STATS 1-->




                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
