 <!-- BEGIN CONTENT -->
 <div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">


      <!-- BEGIN PAGE HEADER-->
      <h3 class="page-title"> المصروفات
          <small></small>
      </h3>
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <i class="icon-home"></i>
                  <a routerLink="/board">الرئيسية</a>
                  <i class="fa fa-angle-left"></i>
              </li>
              <li>
                 <a routerLink="/allexpenses">المصروفات</a>
                  <i class="fa fa-angle-left"></i>
              </li>
              <li class="active">
                  <span>إضافة مصروف</span>
              </li>
          </ul>
      </div>
      <!-- END PAGE HEADER-->
      <!-- BEGIN DASHBOARD STATS 1-->
      <div class="row clearfix">
          <div class="col-md-12">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet light ">
                  <div class="portlet-title">
                      <div class="caption font-dark">
                          <i class="icon-layers font-dark"></i>
                          <span class="caption-subject bold uppercase">إضافة مصروف</span>
                      </div>

                      <div class="tools"> </div>
                  </div>
                  <div class="portlet-body">
                    <form (submit)="Add($event)" [formGroup]="form" *ngIf=" add " >



   <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <label for="single0">اسم المصروف <span>*</span></label>
      <input type="text" id="nom" formControlName="nom" class="form-control" placeholder="">
      <div class="alert alert-warning" *ngIf="!form.controls['nom'].valid && form.controls['nom'].touched " >
        يجب عليك وضع إسم المصروف
       </div>
    </div>
     </div>

   <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <label for="single1">النوع <span>*</span></label>
      <select id="single1" class="form-control select2 select-hide"  formControlName="single1" >
                              <option [ngValue]="null" >-- إختر --</option>
        <option value={{expense.id}} *ngFor="let expense of expenses" > {{ expense.nom }} </option>

                          </select>

    </div>
     </div>

   <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <label>التفاصيل</label>
      <textarea class="form-control" id="desc" rows="5"></textarea>
    </div>
     </div>
     <div class="alert alert-warning col-md-6 col-md-offset-3 col-sm-12" *ngIf="!form.controls['single1'].valid && form.controls['single1'].touched " >
      يجب عليك وضع النوع
  </div>

   <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <label for="single0">اسم المشروع/ الخدمة <span>*</span></label>
      <select id="single0" class="form-control" (change)="ok($event)"  formControlName="single0">
                              <option [ngValue]="null" >-- إختر --</option>
        <option value="{{project.id}}1" *ngFor="let project of projects" >المشروع /  {{project.nom}}  </option>
        <option value="{{service.id}}2" *ngFor="let service of services" >الخدمة / {{service.nom}} </option>

                          </select>
                          <div class="alert alert-warning" *ngIf="!form.controls['single0'].valid && form.controls['single0'].touched " >
                            يجب عليك وضع اسم المشروع/ الخدمة
                        </div>
    </div>
     </div>

   <div class="col-md-6 col-md-offset-3 col-sm-12">
     <div class="form-group">
       <div class="input-group">
      <label for="single2">صاحب المصروف <span>*</span></label>
      <select id="single2" class="form-control " (change)="Compte($event)" formControlName="single2">
                              <option [ngValue]="null"></option>
        <option value={{employee.id}}  *ngFor="let employee of employees" > {{employee.nom}} </option>

                          </select>
                          <span class="input-group-btn btn-addon">
                            <button type="button" class="btn green" data-toggle="modal" data-target="#exampleModal"   >عرض البيانات</button>
                          </span>
                          <div class="alert alert-warning" *ngIf="!form.controls['single2'].valid && form.controls['single2'].touched " >
                            يجب عليك وضع صاحب المصروف
                        </div>
                          </div>
    </div>
     </div>

   <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <label for="single33">الحساب المحول منه <span>*</span></label>
      <select id="single33" class="form-control" formControlName="single33" >
                              <option [ngValue]="null" >-- إختر --</option>
        <option value={{compte.id}} *ngFor="let compte of comptes" > {{compte.nom}} : {{ compte.num }} </option>

                          </select>
                          <div class="alert alert-warning" *ngIf="!form.controls['single33'].valid && form.controls['single33'].touched " >
                            يجب عليك وضع صاحب المصروف
                        </div>
    </div>
     </div>


   <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <label for="single3">طريقة التحويل <span>*</span></label>
      <select id="single3" class="form-control select2 select-hide" formControlName="single3">
                              <option [ngValue]="null" >-- إختر --</option>
        <option value={{payment.id}} *ngFor="let payment of payments "> {{payment.nom}}</option>

                          </select>
                          <div class="alert alert-warning" *ngIf="!form.controls['single3'].valid && form.controls['single3'].touched " >
                            يجب عليك وضع طريقة التحويل
                        </div>
      </div>
     </div>

   <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <label for="single11">الميلغ <span>*</span></label>
      <input type="number" id="single11" class="form-control" (change)="solde1($event)" formControlName="single11" >
      <div class="alert alert-warning" *ngIf="!form.controls['single11'].valid && form.controls['single11'].touched " >
        يجب عليك وضع الميلغ
    </div>
    </div>
     </div>

   <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <label for="single10">إضافة نسبة <span>*</span></label>
      <select id="single10" class="form-control" (change)="solde($event)" formControlName="single10" >
                              <option disabled [ngValue]="null" >-- إختر --</option>
        <option value={{persentage.id}} *ngFor="let persentage of persentages"  > {{persentage.nom}} </option>

                          </select>
                          <div class="alert alert-warning" *ngIf="!form.controls['single10'].valid && form.controls['single10'].touched " >
                            يجب عليك وضع الميلغ
                        </div>
    </div>
     </div>

   <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <label>إجمالى المبلغ مع النسبة <span>*</span></label>
      <div class="input-icon">
        <i class="fa fa-money font-green "></i>
        <input type="text" class="form-control" id="total" placeholder="" value={{total}} disabled>
      </div>
    </div>
     </div>



    <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <label for="single">التاريخ <span>*</span></label>
      <br>
      <mat-form-field class="date">
        <input matInput [matDatepicker]="picker" id="date" placeholder="تاريخ المصروف" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="alert alert-warning" *ngIf="!form.controls['date'].valid && form.controls['date'].touched " >
        يجب عليك وضع التاريخ
    </div>


    </div>
     </div>



    <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <label>مرفق</label>
      <div class="col-md-12">
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="input-group input-large">
          <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
            <i class="fa fa-file fileinput-exists"></i>&nbsp;
            <span class="fileinput-filename"> </span>
          </div>
          <span class="input-group-addon btn default btn-file">
            <span class="fileinput-new"> إختر المرفق </span>
            <span class="fileinput-exists"> تغيير </span>
            <input type="file" name="..."> </span>
          <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> حذف </a>
        </div>
      </div>
      </div>
    </div>
     </div>


   <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <label>ملاحظات</label>
      <textarea class="form-control" id="req" rows="5"></textarea>
    </div>
     </div>



   <div class="col-md-6 col-md-offset-3 col-sm-12">
    <hr>
     </div>




   <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">

     <button type="submit" class="btn btn-lg green pull-right margin-right-10"  [disabled]="!form.valid" >إضافة/تعديل</button>

     </div>

                     <div class="clearfix"></div>
                    </form>
                    <div *ngIf=" ! add " class="alert alert-danger" > ليست لديك صلاحيات لإضافة مصروف  </div>
                  </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
          </div>

      </div>
      <div class="clearfix"></div>
      <!-- END DASHBOARD STATS 1-->




  </div>
  <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title pull-left" id="exampleModalLabel">بيانات صاحب المصروف</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div *ngIf=" !open " > not found !!!  </div>
    <div class="modal-body" *ngIf=" open ">

      <div class="form-group"  >
        <label class="font-purple">اسم صاحب المصروف </label>
        <h4>{{show.nom}}</h4>
      </div>
      <div class="form-group">
        <label class="font-purple">الايميل </label>
        <h4>{{show.email}}</h4>
      </div>
      <div class="form-group">
        <label class="font-purple">الجوال </label>
        <h4>{{show.tel}}</h4>
      </div>

    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغـلاق</button>
    </div>
  </div>
  </div>
</div>
