<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">


        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title"> المشاريع والخدمات
            <small></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="../dashboard/index.html">الرئيسية</a>
                    <i class="fa fa-angle-left"></i>
                </li>
                <li>
                   <a href="#">عنوان القسم</a>
                    <i class="fa fa-angle-left"></i>
                </li>
                <li class="active">
                    <span>عنوان الصفحة</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="row clearfix">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-layers font-dark"></i>
                            <span class="caption-subject bold uppercase">إضافة دفعة</span>
                        </div>

                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body">

<form (submit)="addpayment($event)" *ngIf=" add">

     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label for="single0">اسم المشروع <span>*</span></label>
        <select id="single0" class="form-control" (change)="change($event)">
                                <option></option>
          <option value={{project.id}} *ngFor="let project of projects"> {{project.nom}} </option>
        </select>
      </div>
       </div>

     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label for="single1">رقم الدفعة <span>*</span></label>
        <select id="single1" class="form-control" (change)="cost($event)" >
                                <option></option>
          <option value={{i+1}} *ngFor="let item of tab ; let i = index "  >  الدفعة : {{i+1}} </option>

         </select>
      </div>
       </div>

     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>مبلغ الدفعة <span>*</span></label>
        <div class="input-icon">
          <i class="fa fa-money font-green "></i>
          <input type="text" value="{{ valeur }}" id="solde"  class="form-control" placeholder="" disabled>
        </div>
      </div>
       </div>

     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>المبلغ المدفوع <span>*</span></label>
        <div class="input-icon">
          <i class="fa fa-money font-green "></i>
          <input type="number" id="money" class="form-control" placeholder=""  (change)="Rest($event)" >
        </div>
      </div>
       </div>

     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label for="payment-type">نوع الدفعة <span>*</span></label>
        <select id="payment-type" class="form-control" (change)="Dafea($event)" >
                                <option  [ngValue]='null' >-- إختر --</option>
          <option *ngFor="let payment of payments" value={{payment.id}} >{{payment.nom}}</option>

                            </select>
      </div>
       </div>

     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>الباقى <span>*</span></label>
        <div class="input-icon">
          <i class="fa fa-money font-green "></i>
          <input type="text" class="form-control" id="rest" value={{rest}} placeholder="" disabled>
        </div>
      </div>
       </div>

      <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label for="single4">البنك المحول اليه <span>*</span></label>
        <select id="single4" class="form-control" (change)="NumB($event)">
          <option></option>
          <option value={{compte.id}} *ngFor="let compte of comptes "  >{{ compte.nom }}</option>
        </select>
      </div>
                        </div>

      <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label for="single">رقم الحساب </label>
          <input type="text" class="form-control" id="num" value={{num}} placeholder="" disabled>
      </div>
                </div>


     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <hr>
       </div>


       <div class="col-md-6 col-md-offset-3 col-sm-12">

                      <fieldset id="check" [ngStyle]="{'display': val3 }">
                        <legend class="font-purple">
                          شيك
                        </legend>

      <div class="form-group">
        <label for="single">اسم البنك <span>*</span></label>
        <select id="single" id="bank"  class="form-control select2 ">
          <option></option>
          <option value={{comptes.id}} *ngFor="let compte of comptes "  >{{ comptes.nom }}</option>
        </select>
      </div>


      <div class="form-group">
        <label for="single">تاريخ <span>*</span></label>
        <div class="input-icon">
          <i class="fa fa-calendar font-green "></i>
        <input type="text" class="form-control date" id="date" name="from" placeholder="">
        </div>
      </div>


      <div class="form-group">
        <label for="single">رقم الشيك <span>*</span></label>
          <input type="text" id="numch" class="form-control" placeholder="">
      </div>


                      </fieldset>
       </div>



                     <div class="col-md-6 col-md-offset-3 col-sm-12">
                     <fieldset id="transfer" [ngStyle]="{'display': val2 }">
                        <legend class="font-purple">
                          تحويل
                        </legend>

      <div class="form-group">
        <label for="nomk">اسم المحول <span>*</span></label>
        <input type="text" id="nomk" class="form-control">
      </div>


      <div class="form-group">
        <label for="single">تاريخ <span>*</span></label>
        <div class="input-icon">
          <i class="fa fa-calendar font-green "></i>
        <input type="text" id="datek" class="form-control date" name="from" placeholder="">
        </div>
      </div>


                      </fieldset>
     </div>




     <div class="col-md-6 col-md-offset-3 col-sm-12">

                      <fieldset id="paypal" [ngStyle]="{'display': val }">
                        <legend class="font-purple">
                          باى بال
                        </legend>


      <div class="form-group">
        <label for="paypal">حساب الباى بال <span>*</span></label>
        <input type="email" id="paypalm" class="form-control" placeholder="">
      </div>


                      </fieldset>
       </div>

       <div class="col-md-6 col-md-offset-3 col-sm-12">

        <fieldset id="autre" [ngStyle]="{'display': val4 }">
          <legend class="font-purple">
            autre
          </legend>


<div class="form-group">
<label for="single"> حساب <span>*</span></label>
<input type="number" id="autre" class="form-control" placeholder="">
</div>


        </fieldset>
</div>




     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <hr>
       </div>


       <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>مرفق</label>
        <div class="col-md-12">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="input-group input-large">
            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
              <i class="fa fa-file fileinput-exists"></i>&nbsp;
              <span class="fileinput-filename"> </span>
            </div>
            <span class="input-group-addon btn default btn-file">
              <span class="fileinput-new"> إختر المرفق </span>
              <span class="fileinput-exists"> تغيير </span>
              <input type="file" name="..."> </span>
            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> حذف </a>
          </div>
        </div>
        </div>
      </div>
       </div>


     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <hr>
       </div>


     <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">

       <button type="submit" class="btn green pull-right margin-right-10">إضافة/تعديل</button>

       </div>

                       <div class="clearfix"></div>
      </form>
     <div *ngIf=" ! add" class="alert alert-danger" style="text-align: center" >  ليست لديك صلاحيات لإضافة دفعة </div>
                   </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>

        </div>
        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->




    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
