   <!-- BEGIN CONTENT -->
   <div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">


        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title"> المشاريع والخدمات
            <small></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="../dashboard/index.html">الرئيسية</a>
                    <i class="fa fa-angle-left"></i>
                </li>
                <li>
                   <a href="#">عنوان القسم</a>
                    <i class="fa fa-angle-left"></i>
                </li>
                <li class="active">
                    <span>عنوان الصفحة</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="row clearfix">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-layers font-dark"></i>
                            <span class="caption-subject bold uppercase">مشروع رقم {{id}}</span>
                        </div>

                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body">



     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>اسم المشروع </label>
        <div class="input-icon">
          <i class="fa fa-file font-green "></i>
          <input type="text" class="form-control" value="{{projects.nom}}" disabled>
        </div>
      </div>
       </div>

       <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>التاريخ </label>
        <div class="input-group date-picker input-daterange" data-date="24/02/2018" data-date-format="dd/mm/yyyy">
          <input type="text" class="form-control date col-md-6" name="from" value="{{projects.dated}}" disabled>
          <span class="input-group-addon small-sp">  </span>
          <input type="text" class="form-control date col-md-6" name="to" value="{{projects.datef}}" disabled>
        </div>
      </div>
       </div>

     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>التفاصيل</label>
        <textarea class="form-control" rows="5" disabled>{{ projects.dsecription }}</textarea>
      </div>
       </div>

       <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>العميل </label>
        <div class="input-icon">
          <i class="fa fa-user font-green "></i>
          <input type="text" class="form-control" value="{{clients.nom}}" disabled>
        </div>
      </div>
       </div>

     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>تكلفة المشروع </label>
        <div class="input-icon">
          <i class="fa fa-money font-green "></i>
          <input type="text" class="form-control" value="{{projects.cost}} ريال" disabled>
        </div>
      </div>
       </div>


       <div class="col-md-6 col-md-offset-3 col-sm-12">
                      <fieldset>
                        <legend>
                          الدفعات
                        </legend>

      <div class="form-group">
        <label>عدد الدفعات </label>
        <div class="input-icon">
          <i class="fa fa-money font-green "></i>
          <input type="text" class="form-control" value="{{projects.np}}" disabled>
        </div>
      </div>
                       <div class="col-md-4 col-xs-12">
                      <div class="form-group">
        <label>إجمالى المبلغ المستلم </label>
        <div class="input-icon">
          <i class="fa fa-money font-green "></i>
          <input type="text" class="form-control" value="{{solde1}}" disabled>
        </div>
      </div>
                      </div>

                       <div class="col-md-4 col-xs-12">
                         <div class="form-group">
        <label>إجمالى المبلغ المتبقية </label>
        <div class="input-icon">
          <i class="fa fa-money font-green "></i>
          <input type="text" class="form-control" value="{{solde2}}" disabled>
        </div>
      </div>
                       </div>

                       <div class="col-md-4 col-xs-12">
                         <div class="form-group">
        <label>إجمالى المبلغ المصروفة </label>
        <div class="input-icon">
          <i class="fa fa-money font-green "></i>
          <input type="text" class="form-control" value="{{solde3}}" disabled>
        </div>
      </div>
                       </div>

                      <div class="col-md-12">
                        <div class="form-group">
        <div class="mt-element-list">
                            <div class="mt-list-head list-simple ext-1 font-white bg-green-sharp">
                                <div class="list-head-title-container">
                                    <h3 class="list-title">تفاصيل الدفعات</h3>
                                </div>
                            </div>
                            <div class="mt-list-container list-simple ext-1 bg-white">
                                <ul>
                                    <li class="mt-list-item {{tabT[i]}}" *ngFor="let x of tabC ; let i = index" >
                                        <div class="list-icon-container">
                                            <i class="icon-{{tabE[i]}}"></i>
                                        </div>
                                        <div class="list-datetime"> {{ tabD[i] }} </div>
                                        <div class="list-item-content">
                                            <h3 class="uppercase">
                                                <a href="javascript:;">{{ tabC[i] }}  ريال</a>
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
      </div>
                      </div>

                      <div class="col-md-12 text-center">
                        <ul class="pay-indicator">
                          <li>
                            <span class="pay-status done"></span> تم الدفع
                          </li>
                          <li>
                            <span class="pay-status late"></span> متأخر عن تاريخ الدفع
                          </li>
                          <li>
                            <span class="pay-status wait"></span> لم يتم الدفع
                          </li>
                        </ul>
                      </div>

                      </fieldset>
       </div>



     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>ملاحظات</label>
        <textarea class="form-control" rows="5" disabled></textarea>
      </div>
       </div>



     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <hr>
       </div>



     <div class="col-md-6 col-md-offset-3 col-sm-12">
      <div class="form-group">
        <label>صافى الربح</label>
        <div class="col-md-12">

          <input type="text" class="form-control" value="{{projects.cost - nett}} ريال" disabled>

        </div>
      </div>
       </div>

                       <div class="clearfix"></div>

                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>

        </div>
        <div class="clearfix"></div>
        <!-- END DASHBOARD STATS 1-->




    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
