    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
      <!-- BEGIN CONTENT BODY -->
      <div class="page-content">


          <!-- BEGIN PAGE HEADER-->
          <h3 class="page-title"> المشاريع والخدمات
              <small></small>
          </h3>
          <div class="page-bar">
              <ul class="page-breadcrumb">
                  <li>
                      <i class="icon-home"></i>
                      <a href="../dashboard/index.html">الرئيسية</a>
                      <i class="fa fa-angle-left"></i>
                  </li>
                  <li>
                     <a href="#">عنوان القسم</a>
                      <i class="fa fa-angle-left"></i>
                  </li>
                  <li class="active">
                      <span>عنوان الصفحة</span>
                  </li>
              </ul>
          </div>
          <!-- END PAGE HEADER-->
          <!-- BEGIN DASHBOARD STATS 1-->
          <div class="row clearfix">
              <div class="col-md-12">
                  <!-- BEGIN EXAMPLE TABLE PORTLET-->
                  <div class="portlet light ">
                      <div class="portlet-title">
                          <div class="caption font-dark">
                              <i class="icon-layers font-dark"></i>
                              <span class="caption-subject bold uppercase">خدمة رقم {{id}}</span>
                          </div>

                          <div class="tools"> </div>
                      </div>
                      <div class="portlet-body">



       <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="form-group">
          <label>اسم المشروع <span>*</span></label>
          <div class="input-icon">
            <i class="fa fa-file font-green "></i>
            <input type="text" class="form-control" placeholder="اسم الخدمة" value="{{ services.nom }}" disabled>
          </div>
        </div>
         </div>


       <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="form-group">
          <label>التكلفة الاجمالية </label>
          <div class="input-icon">
            <i class="fa fa-money font-green "></i>
            <input type="text" class="form-control" placeholder="{{services.solde}} ريال" disabled>
          </div>
        </div>
         </div>


       <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="form-group">
          <label>التفاصيل</label>
          <textarea class="form-control" rows="5" disabled>{{services.dsecription}}</textarea>
        </div>
         </div>



       <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="form-group">
          <label>ملاحظات</label>
          <textarea class="form-control" rows="5" disabled> {{services.req}} </textarea>
        </div>
         </div>



       <div class="col-md-6 col-md-offset-3 col-sm-12">
        <hr>
         </div>



       <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="form-group">
          <label>إجمالى المبلغ المصروف</label>
          <div class="col-md-12">

            <input type="text" class="form-control" value="{{total}} ريال" disabled>

          </div>
        </div>
         </div>

                         <div class="clearfix"></div>

                      </div>
                  </div>
                  <!-- END EXAMPLE TABLE PORTLET-->
              </div>

          </div>
          <div class="clearfix"></div>
          <!-- END DASHBOARD STATS 1-->




      </div>
      <!-- END CONTENT BODY -->
  </div>
  <!-- END CONTENT -->
