 <!-- BEGIN CONTENT -->
 <div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">

     <button type="button" class="btn blue-hoki pull-right">إضافة دفعة</button>

      <!-- BEGIN PAGE HEADER-->
      <h3 class="page-title"> المدفوعات
          <small></small>
      </h3>
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <i class="icon-home"></i>
                  <a href="../dashboard/index.html">الرئيسية</a>
                  <i class="fa fa-angle-left"></i>
              </li>
              <li>
                 <a href="#">عنوان القسم</a>
                  <i class="fa fa-angle-left"></i>
              </li>
              <li class="active">
                  <span>عنوان الصفحة</span>
              </li>
          </ul>
      </div>
      <!-- END PAGE HEADER-->
      <!-- BEGIN DASHBOARD STATS 1-->
      <div class="row clearfix">
          <div class="col-md-12">
              <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet light ">
                  <div class="portlet-title">
                      <div class="caption font-dark">
                          <i class="icon-layers font-dark"></i>
                          <span class="caption-subject bold uppercase">كل المدفوعات</span>
                      </div>

                      <div class="tools"> </div>
                  </div>
                  <div class="portlet-body">


   <div class="col-md-3">

  <div class="marketplace__content">
  <div class="marketplace__aside">
  <div class="filters__container filters__container--vertical filters__container--collapsed">
  <form class="filters__form nomargin">
  <h3 class="marketplace__title no-margin">
  أدوات التصفية<i class="mdi mdi-chevron-down mdi-24px"></i>
  </h3>
  <div class="filters filters--vertical" id="hi">
  <div class="filters__section filters__section--category filters__section--vertical">

  <div class="filters__label filters__label--vertical">
  <input id="checkbox-0" class="checkbox-style" name="checkbox-0" type="checkbox" checked>
  <label for="checkbox-0" class="checkbox-style-3-label">
   إختر الكل
  </label>
  </div>

  <div class="filters__section-content">

  <div>
    <input id="checkbox-1" class="checkbox-style" name="checkbox-1" type="checkbox" checked>
    <label for="checkbox-1" class="checkbox-style-3-label">
     الكل
    </label>
  </div>

  <div>
    <input id="checkbox-2" class="checkbox-style" name="checkbox-2" type="checkbox">
    <label for="checkbox-2" class="checkbox-style-3-label">
     اخر اسبوع
    </label>
  </div>

  <div>
    <input id="checkbox-3" class="checkbox-style" name="checkbox-3" type="checkbox">
    <label for="checkbox-3" class="checkbox-style-3-label">
     اخر شهر
    </label>
  </div>

  <div>
    <input id="checkbox-4" class="checkbox-style" name="checkbox-4" type="checkbox">
    <label for="checkbox-4" class="checkbox-style-3-label">
     اخر سنة
    </label>
  </div>

  <div class="col-md-12">
    <hr>
  </div>

  <div>
    <input id="checkbox-10" class="checkbox-style" name="checkbox-10" type="checkbox">
    <label for="checkbox-10" class="checkbox-style-3-label">
     فترة محددة
    </label>
    <div class="col-md-12">
      <input type="text" class="form-control date" name="from" placeholder="من تاريخ">
    </div>
    <hr>
    <div class="col-md-12">
      <input type="text" class="form-control date" name="to" placeholder="إلى تاريخ">
    </div>
  </div>


  <div class="col-md-12">
    <hr>
  </div>

  <div>
    <input id="checkbox-11" class="checkbox-style" name="checkbox-11" type="checkbox">
    <label for="checkbox-11" class="checkbox-style-3-label">
     جميع مدفوعات مشروع
    </label>
    <div class="col-md-12">
      <select id="single" class="form-control select2 ">
                              <option></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
                          </select>
    </div>
  </div>


  <div class="col-md-12">
    <hr>
  </div>

  <div>
    <input id="checkbox-12" class="checkbox-style" name="checkbox-12" type="checkbox">
    <label for="checkbox-12" class="checkbox-style-3-label">
     جميع مدفوعات عميل
    </label>
    <div class="col-md-12">
      <select id="single0" class="form-control select2 ">
                              <option></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
                          </select>
    </div>
  </div>


  <div class="clearfix"></div>

  <div class="text-center margin-top-30">
    <button type="button" class="btn green">عـرض</button>
  </div>

  </div>
  </div>

  </div></form></div></div>
  </div>

    </div>


  <div class="line visible-xs-block"></div>


   <div class="col-md-9 clearfix">

  <table class="table table-striped table-bordered table-hover dt-responsive grd_view" width="100%" id="sample_1">
    <thead>
      <tr  >
        <th class="desktop">م</th>
        <th class="all no-padding"></th>
        <th class="min-phone-l">اسم المشروع</th>
        <th class="min-phone-l">رقم المدفوع</th>
        <th class="min-tablet">المبلغ</th>
        <th class="none">العميل</th>
        <th class="desktop">التفاصيل</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of paymants ; let i = index " >
        <td> {{ i + 1 }} </td>
        <td class="p-relative">
          <div class="por-indicator bg-red"></div>
        </td>
        <td> {{ nom[i] }} </td>
        <td>{{ payment.id }}</td>
        <td>{{payment.soldep}}</td>
        <td> {{ clients[i] }} </td>
        <td class="text-center">
          <div class="btn-group">
            <a class="btn green-haze btn-outline btn-sm" href="javascript:;" data-toggle="dropdown"  data-close-others="true"> إخـتر الأمـر
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li *ngIf="permi.poste" ><a href="#show" class="font-purple" data-toggle="modal" (click)="affiche(payment.id)" ><i class="icon-eye font-purple"></i> عـرض</a></li>
              <li *ngIf="permi.edit"><a href="#edit" class="font-blue" data-toggle="modal"  (click)="modif(payment)" ><i class="icon-note font-blue"></i> تعديل</a></li>
              <li *ngIf="permi.deletes"><a href="#basic" class="font-red" data-toggle="modal" (click)="delet(payment.id)" ><i  class="icon-trash font-red"></i> حـذف</a></li>
              <li *ngIf="permi.up1"><a href="#show" class="font-green" data-toggle="modal" (click)="downloadPDF(payment.id)" ><i class="icon-cloud-download font-green"></i> تحميل</a></li>
            </ul>
          </div>
        </td>
      </tr>

    </tbody>
  </table>

   </div>

   <div class="clearfix"></div>

                  </div>
              </div>
              <!-- END EXAMPLE TABLE PORTLET-->
          </div>

      </div>
      <div class="clearfix"></div>
      <!-- END DASHBOARD STATS 1-->




  </div>
  <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->



<div class="modal fade" id="show" #content tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content del-modal font-white">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body text-center" *ngIf=" open ">
        <h3>
          <i class="fa fa-3x fa fa-eye"></i>
        </h3>
        اسم المشروع : {{ projet.nom }}
        <br>
        رقم المدفوع : {{ id }}
        <br>
        المبلغ : {{ look.solde }}
        <br>
        العميل : {{ clienShow.nom }}
        <br>
        المبلغ المدفوع  : {{ look.soldep }}
        <br>
        الباقى : {{ look.rest }}
        <br>
        نوع الدفعة  : {{ model_trans.nom }}
        <br>
        البنك المحول اليه  : {{ bank_trans.nom }}
        <br>
        رقم الحساب : {{ look.numb }}


        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>


<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content del-modal font-white">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body text-center">
        <h3>
          <i class="fa fa-3x fa-trash"></i>
        </h3>
         متأكد إنك تريد الحذف؟

        </div>
        <div class="modal-footer">
          <button type="button" class="btn dark btn-default" data-dismiss="modal">إغلاق</button>
          <button type="button" class="btn btn-danger" (click)="deletPayment()" >حـذف</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>


  <!-- modification -->
  <div class="modal fade" id="edit" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog" id="mod">
      <div class="modal-content del-modal font-white">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body text-center" id="bd" *ngIf=" modife " >



            <form (submit)="Putpayment($event)" >

                <div class="col-md-6 col-md-offset-3 col-sm-12">
                 <div class="form-group">
                   <label for="single0">اسم المشروع <span>*</span></label>
                   <select id="single0" class="form-control" (change)="change($event)" >
                     <option value={{project.id}} [selected]="project.id == paymentModif.id" *ngFor="let project of allprojects " > {{project.nom}} </option>
                   </select>
                 </div>
                  </div>

                <div class="col-md-6 col-md-offset-3 col-sm-12">
                 <div class="form-group">
                   <label for="single1">رقم الدفعة <span>*</span></label>
                   <select id="single1" class="form-control" (change)="cost($event)">
                                           <option></option>
                     <option value={{i+1}} [selected]="i+1 == numd" *ngFor="let item of tab ; let i = index " >  الدفعة : {{i+1}} </option>

                    </select>
                 </div>
                  </div>

                <div class="col-md-6 col-md-offset-3 col-sm-12">
                 <div class="form-group">
                   <label>مبلغ الدفعة <span>*</span></label>
                   <div class="input-icon">
                     <i class="fa fa-money font-green "></i>
                     <input type="text" id="solde"  value="{{ valeur }}" class="form-control" placeholder="" disabled>
                   </div>
                 </div>
                  </div>

                <div class="col-md-6 col-md-offset-3 col-sm-12">
                 <div class="form-group">
                   <label>المبلغ المدفوع <span>*</span></label>
                   <div class="input-icon">
                     <i class="fa fa-money font-green "></i>
                     <input type="number" id="money" value="{{ p.soldep }}" class="form-control" placeholder="" (change)="Rest($event)">
                   </div>
                 </div>
                  </div>

                <div class="col-md-6 col-md-offset-3 col-sm-12">
                 <div class="form-group">
                   <label for="payment-type">نوع الدفعة <span>*</span></label>
                   <select id="payment-type" class="form-control" (change)="Dafea($event)" >
                                           <option  [ngValue]='null' >-- إختر --</option>
                     <option [selected]="p.idtp == payment.id"  *ngFor="let payment of payments" value={{payment.id}} >{{payment.nom}}</option>

                                       </select>
                 </div>
                  </div>

                <div class="col-md-6 col-md-offset-3 col-sm-12">
                 <div class="form-group">
                   <label>الباقى <span>*</span></label>
                   <div class="input-icon">
                     <i class="fa fa-money font-green "></i>
                     <input type="text" value={{rest}} class="form-control" id="rest"  placeholder="" disabled>
                   </div>
                 </div>
                  </div>

                 <div class="col-md-6 col-md-offset-3 col-sm-12">
                 <div class="form-group">
                   <label for="single4">البنك المحول اليه <span>*</span></label>
                   <select id="single4" class="form-control" (change)="NumB($event)">
                     <option></option>
                     <option value={{compte.id}} [selected]="p.bank == compte.id" *ngFor="let compte of comptes "  >{{ compte.nom }}</option>
                   </select>
                 </div>
                                   </div>

                 <div class="col-md-6 col-md-offset-3 col-sm-12">
                 <div class="form-group">
                   <label for="single">رقم الحساب </label>
                     <input type="text" class="form-control" value="{{num}}" id="num" placeholder="" disabled>
                 </div>
                           </div>


                <div class="col-md-6 col-md-offset-3 col-sm-12">
                 <hr>
                  </div>


                  <div class="col-md-6 col-md-offset-3 col-sm-12">

                                 <fieldset id="check" [ngStyle]="{'display': val3 }">
                                   <legend class="font-purple">
                                     شيك
                                   </legend>

                 <div class="form-group">
                   <label for="single">اسم البنك <span>*</span></label>
                   <select id="single" id="bank"  class="form-control select2 ">
                     <option></option>
                     <option> comptes.nom </option>
                   </select>
                 </div>


                 <div class="form-group">
                   <label for="single">تاريخ <span>*</span></label>
                   <div class="input-icon">
                     <i class="fa fa-calendar font-green "></i>
                   <input type="text" value="{{p.datech}}" class="form-control date" id="date" name="from" placeholder="">
                   </div>
                 </div>


                 <div class="form-group">
                   <label for="single">رقم الشيك <span>*</span></label>
                     <input type="text" value="{{p.numch}}"  id="numch" class="form-control" placeholder="">
                 </div>


                                 </fieldset>
                  </div>



                                <div class="col-md-6 col-md-offset-3 col-sm-12">
                                <fieldset id="transfer" [ngStyle]="{'display': val2 }">
                                   <legend class="font-purple">
                                     تحويل
                                   </legend>

                 <div class="form-group">
                   <label for="nomk">اسم المحول <span>*</span></label>
                   <input type="text" value="{{p.nomk}}" id="nomk" class="form-control">
                 </div>


                 <div class="form-group">
                   <label for="single">تاريخ <span>*</span></label>
                   <div class="input-icon">
                     <i class="fa fa-calendar font-green "></i>
                   <input type="text" value="{{p.date}}" id="datek" class="form-control date" name="from" placeholder="">
                   </div>
                 </div>


                                 </fieldset>
                </div>




                <div class="col-md-6 col-md-offset-3 col-sm-12">

                                 <fieldset id="paypal" [ngStyle]="{'display': val }">
                                   <legend class="font-purple">
                                     باى بال
                                   </legend>


                 <div class="form-group">
                   <label for="paypal">حساب الباى بال <span>*</span></label>
                   <input type="email" value="{{p.paypal}}" id="paypalm" class="form-control" placeholder="">
                 </div>


                                 </fieldset>
                  </div>

                  <div class="col-md-6 col-md-offset-3 col-sm-12">

                   <fieldset id="autre" [ngStyle]="{'display': val4 }">
                     <legend class="font-purple">
                       autre
                     </legend>


           <div class="form-group">
           <label for="single"> حساب <span>*</span></label>
           <input type="number" id="autre" class="form-control" placeholder="">
           </div>


                   </fieldset>
           </div>




                <div class="col-md-6 col-md-offset-3 col-sm-12">
                 <hr>
                  </div>


                  <div class="col-md-6 col-md-offset-3 col-sm-12">
                 <div class="form-group">
                   <label>مرفق</label>
                   <div class="col-md-12">
                   <div class="fileinput fileinput-new" data-provides="fileinput">
                     <div class="input-group input-large">
                       <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                         <i class="fa fa-file fileinput-exists"></i>&nbsp;
                         <span class="fileinput-filename"> </span>
                       </div>
                       <span class="input-group-addon btn default btn-file">
                         <span class="fileinput-new"> إختر المرفق </span>
                         <span class="fileinput-exists"> تغيير </span>
                         <input type="file" name="..."> </span>
                       <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> حذف </a>
                     </div>
                   </div>
                   </div>
                 </div>
                  </div>


                <div class="col-md-6 col-md-offset-3 col-sm-12">
                 <hr>
                  </div>


                <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">

                  <button type="submit" class="btn green pull-right margin-right-10">إضافة/تعديل</button>

                  </div>

                                  <div class="clearfix"></div>
                 </form>



        </div>

      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

